<!--THEMESTYLE-->
body{
    margin: 0;
    padding:0;
    background-image: url(glass-g4f42dae91_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    float: left;

}
.menu{
    margin: 0;
    padding: 19px;
    height: 25px;
    background-color: transparent;



    
}

.menu li{
    display: inline;
    padding-left: 100px;
    
    
}

.button{
    font-family: monospace;
    font-size: 2em;
    font-style: none;
    color: white;
    padding: 1px; 
    text-decoration:none;
}

.button:link{
    background-color: transparent;
    color:white;
    
    
}

.button:hover{
    background-color: lightgray;
    
    
}

h1{
    font-size: 105px;
    font-family: fantasy;
    color: white;
    padding: 20px 350px;
    border-bottom: 5px solid white
    
    
    
}

h2{
    font-size: 100px;
    font-family: fantasy;
    color: white;
    padding: 20px 200px;
    border-bottom: 5px solid white
    
    
    
}

h3{
    font-size: 100px;
    font-family: fantasy;
    color: white;
    padding: 20px 440px;
    border-bottom: 5px solid white
    
}
h4{
    font-size: 25px;
    font-family: monospace;
    color: white;
    padding-bottom: 5px
    
    
}

.feature-img{
    height: 50%;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 650px;
    padding-bottom: 60px;
    margin-right: 100px
    
}
@media (max-width:600px){
    h1{
        height:50px;
        width:575px;
        padding-top:50px;
        padding-left:10px;
        padding-right:25px;
        font-size:80px;
        color: black;
    }
    a.button{
        height:2000px;
        padding-top:1000px;
        padding-left:20px;
        padding-right:175px;
        padding-bottom:800px;
        font-size: 20px;
        color: white;
        
    }
    
    nav{
        align-items: center;
        width: 100%;
        color: black;
        display: flex
        
    }
    body{
        color: black;
        background-size:100%
        
    }
        
  <!--THIS IS WHERE I LEFT OFF-->
    
    
